<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <!--Import Google Icon Font-->
    <link href="http://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet"/>
    <!--Import materialize-->
    <!--<link href="/WEB-INF/css/materialize.css" type="text/css" rel="stylesheet" media="screen,projection"/>-->
    <link th:href="@{/resources/css/materialize.css}" href="/resources/css/materialize.css" type="text/css"
          rel="stylesheet"/>
    <link th:href="@{/resources/css/style.css}" href="/resources/css/style.css" type="text/css" rel="stylesheet"/>
    <!--Let browser know website is optimized for mobile-->
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>Title</title>
</head>
    <body class="grey darken-3">

<div class="row">
    <div class="col m6 s12">
        <form method="POST" th:action="@{/upload}" enctype="multipart/form-data">
            <div class="file-field input-field">
                <div class="btn waves-effect waves-light amber darken-2">
                    <span>Upload file (up to 5 mb)</span>
                    <!--<i class="material-icons right">perm_media</i>-->
                    <input type="file" name="file" class="amber darken-2"/>
                </div>
                <div class="file-path-wrapper">
                    <input class="file-path validate amber-text" type="text" disabled/>
                </div>
                <button class="btn btn-large waves-effect waves-light amber darken-2 "
                        name="picture" type="submit">Upload<!--<i class="material-icons right">send</i>-->
                </button>
            </div>
        </form>
        <div id="convert_buttons" class="right" th:if="${uploadedImage != null}">
            <!-- Dropdown Trigger -->
            <button class='dropdown-button btn' data-activates='convert_dropdown'>
                CHOOSE OPTION
                <!--<i class="material-icons right">view_list</i>-->
            </button>
            <!-- Dropdown Structure -->
            <ul id='convert_dropdown' class='dropdown-content grey darken-3'>
                <li><a th:href="@{/grayscale}">Grayscale</a></li>
                <li class="divider"></li>
                <li><a th:href="@{/binary}">Binary</a></li>
                <li class="divider"></li>
                <li><a th:href="@{/facedetect}">Face detect</a></li>
            </ul>
        </div>
        <div th:if="${message}" class="error-message clearfix">
            <p th:text="${message}">Error message</p>
        </div>
    </div>


    <div class="col m6 hide-on-med-and-down">
        <!--<h5 class="amber-text text-darken-2">-->
            <!--Funkcjonalność:-->
            <!--<ol>-->
                <!--<li>Binary</li>-->
                <!--<li>Grayscale</li>-->
                <!--<li>Face Recognition</li>-->
            <!--</ol>-->
        <!--</h5>-->
    </div>
</div>


<div th:if="${uploadedImage != null}">
    <div class="row">
        <div class="col m6">
            <div class="card grey darken-3">
                <div class="card-image">
                    <img th:src="@{/uploaded}" class="materialboxed responsive-img">
                    <span class="card-title">Original</span>
                </div>
            </div>
        </div>

        <div class="col m6" th:if="${convertedImage != null}">
            <div class="card grey darken-3">
                <div class="card-image">
                    <img th:src="@{/converted}" class="materialboxed responsive-img">
                    <span class="card-title">Converted</span>
                </div>
            </div>
        </div>
    </div>
</div>

<script type="text/javascript" src="webjars/jquery/3.1.1-1/jquery.min.js"></script>
<script type="text/javascript" th:src="@{/resources/js/materialize.js}"></script>
</body>
</html>