<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <!--Import Google Icon Font-->
    <link href="http://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet"/>
    <!--Import materialize-->
    <!--<link href="/WEB-INF/css/materialize.css" type="text/css" rel="stylesheet" media="screen,projection"/>-->
    <link th:href="@{/resources/css/materialize.css}" href="/resources/css/materialize.css" type="text/css"
          rel="stylesheet"/>
    <link th:href="@{/resources/css/style.css}" href="/resources/css/style.css" type="text/css" rel="stylesheet"/>
    <!--Let browser know website is optimized for mobile-->
    <!--<meta name="viewport" content="width=device-width, initial-scale=1.0"/>-->
    <title>Title</title>
</head>
<body class="grey darken-3">
<div class="content">
    <div class="row container">


        <div>
            <h2 class="title  center amber-text">Upload a picture</h2>
            <form method="POST" th:action="@{/upload}" enctype="multipart/form-data" class="left">
                <div class="file-field input-field row">
                    <div class="btn waves-effect waves-light amber darken-2">
                        <span>Pick a file to upload</span>
                        <i class="material-icons right">perm_media</i>
                        <input type="file" name="file" class="amber darken-2"/>
                    </div>
                    <div class="file-path-wrapper">
                        <input class="file-path validate amber-text" type="text" disabled/>
                    </div>
                    <button class="btn waves-effect waves-light amber darken-2 "
                            name="picture" type="submit">Upload<i class="material-icons right">send</i>
                    </button>

                </div>
            </form>
            <!--<div class="progress">-->
                <!--<div class="indeterminate"></div>-->
            <!--</div>-->
            <!--<p th:if="${message}" th:text="${message}" class="amber-text left"></p>-->
        </div>


    </div>
    <div th:if="${imageIsUploaded}" class="container">
        <div class="row">
            <div class="col m6">
                <div class="card grey darken-3">
                    <div class="card-image">
                        <img th:src="@{/uploaded}" width="400"
                             class="materialboxed">
                        <span class="card-title">Original</span>
                    </div>

                    <div class="card-action amber darken-2">
                        <a class="white-text" th:href="@{/uploaded}">Open</a>
                    </div>
                </div>
            </div>







            <div class="col m6" th:if="${imageIsConverted}">
                <div class="card grey darken-3">
                    <div class="card-image">
                        <img th:src="@{/converted}" width="400"
                             class="materialboxed">
                        <span class="card-title">Converted</span>
                    </div>

                    <div class="card-action amber darken-2">
                        <a class="white-text" th:href="@{/converted}">Open</a>
                    </div>
                </div>





                <!--<img th:src="@{/converted}" src="https://unsplash.it/400/300/?random" width="400"-->
                     <!--class="materialboxed right">-->
            </div>
        </div>
        <div class="row">
            <form method="get" th:action="@{/convert}" class="col">
                <button class="btn amber darken-3 waves-effect waves-light bottom-sheet">Grayscale
                    <i class="material-icons right">swap_horiz</i></button>
            </form>
            <form method="get" th:action="@{/binary}" class="col">
                <button class="btn amber darken-3 waves-effect waves-light bottom-sheet">Binary
                    <i class="material-icons right">swap_horiz</i></button>
            </form>
        </div>
    </div>
</div>
<script type="text/javascript" src="webjars/jquery/3.1.1-1/jquery.min.js"></script>
<script type="text/javascript" th:src="@{/resources/js/materialize.js}"></script>
</body>
</html>